.home-first-block {
  height: calc(100vh - 120px);
  background-position: center !important;
  background-size: cover !important;
  padding-top: 100px;
  padding: 0 80px;
}

.home-first-block iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% + 100px);
  pointer-events: none;
  z-index: -2;
}

.home-slide-header {
  width: calc(60% - 80px);
  position: absolute;
  top: 50%;
}

.home-slide-player {
  width: calc(40% - 80px);
  position: absolute;
  right: 80px;
  text-align: center;
  top: calc(50% - 50px);
  cursor: pointer;
}

.home-slide-next-slide {
  height: 200px !important;
  position: absolute;
  top: -190px;
  width: calc(100% - 100px);
  text-align: end;
  padding: 0 50px;
}

.home-slide-next-slide-image {
  height: 100%;
  box-shadow: 0px 0px 116px rgba(0, 0, 0, 0.53);
  cursor: pointer;
}

.home-slide-next-slide-icon {
  position: absolute;
  top: 67px;
  right: 149px;
  width: 80px;
  cursor: pointer;
  box-shadow: 0px 0px 116px rgba(0, 0, 0, 0.53);
}

.home-slide-next-slide-name {
  font-style: italic;
  font-weight: 900;
  font-size: 17px;
  line-height: 28px;
  color: #FFFFFF;
  position: absolute;
  top: 90px;
  right: 200px;
  text-align: right;
  width: 200px;
  cursor: pointer;
}

.home-slide-next-slide-title {
  font-weight: 900;
  font-size: 11px;
  color: #E0E0E0;
  text-shadow: 0px 0px 80px #000000;
  position: absolute;
  top: 50px;
  right: 223px;
  cursor: pointer;
}

.home-second-block {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  padding: 150px 0 0;
  background-size: 100% !important;
}

.home-second-block-responsive {
  padding: 0 60px;
}

.home-second-block-title {
  font-weight: 900;
  font-size: 46px;
}

.home-highlight-title {
  font-weight: 600;
  margin-bottom: 3px;
  font-size: 14px;
}

.home-highlight-control {
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.home-highlight-year, .home-highlight-order, .home-highlight-visiblity {
  width: 130px;
  margin: 30px 5px 0;
}

.home-highlight-dropdown {
  display: flex;
  justify-content: space-between;
  position: relative;
  font-weight: 900;
  font-size: 17px;
  padding: 2px 5px;
  border-bottom: 0.7px solid #2D2E2E;
  max-width: 120px;
  cursor: pointer;
}

.home-highlight-dropdown div {
  display: none;
  background: #FFF;
  position: absolute;
  top: 25px;
  width: 130px;
  left: 0;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.14);
  overflow-y: scroll;
  max-height: 150px;
  z-index: 99999;
}

.home-highlight-dropdown div.noScroll {
  overflow-y: visible;
}

.home-highlight-dropdown:hover div {
  display: block;
}

.home-highlight-dropdown:hover div:focus {
  display: none;
}

.home-highlight-dropdown div p {
  margin: 0;
  padding: 6px 7px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-weight: 600;
}

.home-highlight-dropdown div p:hover {
  background: #FF003C42;
  padding: 6px 14px;
}

.home-highlight-dropdown img {
  height: 7px;
  margin: auto 0;
}

.home-movies-highlighted {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 70px;
}

.home-movies-highlighted-container {
  width: 25%;
  margin-bottom: 50px;
}

.home-movies-highlighted-img {
  width: 60%;
  margin: 0 auto;
  display: block;
  position: relative;
  cursor: pointer;
}

.home-movies-highlighted-img:hover .home-movies-highlighted-img-filter {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
  display: block;
}

.home-movies-highlighted-img-filter {
  display: none;
  width: 100%;
  position: absolute;
  height: calc(100% - 4px);
}

.home-movies-highlighted-container img {
  width: 100%;
  box-shadow: 8px 9px 30px rgba(0, 0, 0, 0.14);
}

.home-movies-highlighted-container img:hover {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45));
}

.home-movies-highlighted-container div.home-movies-highlighted-header {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.home-movies-highlighted-title {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 14px;
}

.home-movies-highlighted-details {
  font-weight: 600;
  margin: 0;
  font-size: 12px;
  color: #4F4F4F;
}

.home-movies-highlighted-img-filter-see-more {
  position: absolute;
  left: calc(50% - 50px);
  width: 100px;
  top: 30%;
}

.home-movies-highlighted-img-filter-see-more img {
  height: 50px;
  box-shadow: none;
}

.home-movies-highlighted-img-filter-see-more p {
  font-weight: bold;
  font-size: 17px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}

.home-movies-highlighted-img-filter-see-more img:hover {
  background: none;
}

.home-movies-highlighted-header-rate {
  font-weight: 600;
}

.home-movies-highlighted-header-rate span {
  font-size: 10px;
  vertical-align: top;
  font-weight: 800;
}

.CircularProgressbar .CircularProgressbar-path {
  stroke: #FF003C !important;
}

.home-movies-highlighted-graph {
  height: 500px;
  max-width: 1000px;
}

.home-movies-highlighted-graph text {
  font-family: 'Source Sans Pro', sans-serif !important;
  font-weight: 600;
  color: #0C2134 !important;
}

.home-movies-highlighted-graph-tooltip {
  width: 150px;
  margin: 0 auto;
  display: block;
  position: relative;
  cursor: pointer;
}

.home-movies-highlighted-graph-tooltip img {
  width: 100%;
}

/** RESPOSIVITY **/

@media only screen and (min-width: 1300px) {
  .home-first-block-responsive {
    max-width: 1200px !important;
    left: calc(50% - 600px);
    height: 100%;
    position: relative;
  }

  .home-second-block-responsive {
    max-width: 1200px !important;
    left: calc(50% - 660px);
    height: 100%;
    position: relative;
  }

  .home-slide-next-slide {
    max-width: 1200px !important;
    left: calc(50% - 650px);
  }
}

@media only screen and (max-width: 1200px) {
  /* .home-slide-header-title {
    font-size: 62px !important;
  } */
}

@media only screen and (max-width: 992px) {
  
}

@media only screen and (max-width: 768px) {
  .home-slide-player {
    display: none !important;
  }

  .home-slide-header {
    width: calc(100% - 160px);
    position: absolute;
    top: 40%;
  }

  .home-second-block {
    padding: 100px 0 0;
  }

  .home-movies-highlighted-container {
    width: 33.333%;
  }
}

@media only screen and (max-width: 576px) {
  .home-slide-header {
    width: calc(100% - 60px);
    left: 30px;
    bottom: 209px;
    top: auto;
  }

  .home-slide-header-title {
    font-size: 44px !important;
  }

  .home-slide-next-slide {
    width: calc(100% - 20px);
    padding: 0 10px;
  }

  .home-slide-next-slide-title {
    right: 183px;
  }

  .home-slide-next-slide-icon {
    right: 109px;
  }

  .home-slide-next-slide-name {
    right: 160px;
    width: 156px;
  }

  .home-first-block {
    padding-top: 100px;
    padding: 0;
  }

  .home-second-block-responsive {
    padding: 0 30px;
  }

  .home-second-block {
    padding: 60px 0 0;
  }

  .home-second-block-title {
    font-size: 34px;
  }

  .home-highlight-control {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: auto;
  }

  .home-movies-highlighted-container {
    width: 50%;
  }
}

@media only screen and (max-width: 400px) {
  .home-movies-highlighted-container {
    width: 100%;
  }
}

@media only screen and (max-width: 380px) and (max-height: 700px) {
  .home-first-block {
    height: calc(100vh + 37px);
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.home-slide-header-control {
  display: flex;
}

.home-slide-header-control-primary {
  font-weight: 900;
  font-size: 14px;
  color: #E0E0E0;
  text-shadow: 0px 0px 80px #000000;
  margin: 0 0 10px;
}

.home-slide-header-control-secondary {
  font-weight: 600;
  font-size: 14px;
  color: #E0E0E0;
  text-shadow: 0px 0px 80px #000000;
  margin: 0;
}

.home-slide-header-title {
  font-weight: 900;
  font-size: 78px;
  color: #FFFFFF;
  text-shadow: 0px 0px 80px #000000;
}

.loading {
  height: 100vh;
  width: 100%;
  background-size: 100% !important;
  background-position: center !important;
}

.loading > div {
  margin: auto;
  position: absolute;
  top: calc(50% - 75px);
  left: calc(50% - 75px);
}