header {
  height: 50px;
  width: calc(100% - 100px);
  padding: 15px 50px;
  position: fixed;
  transition-timing-function: ease-in;
  transition: 0.2s;
  z-index: 999999;
}

header div.header-container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  transition-timing-function: ease-in;
  transition: 0.2s;
}

header.header-scrolled {
  background: #FFF;
  height: 40px;
  -webkit-box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1) !important;
  box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1) !important;
  transition: 0.25s;
  transition-timing-function: ease-out;
} 

header.header-scrolled div.header-container {
  height: 40px;
  transition: 0.25s;
  transition-timing-function: ease-out;
} 

header img {
  max-height: 50px;
  max-width: 50px;
  cursor: pointer;
}

header img.header-search-icon {
  height: 20px;
  width: 20px;
  margin: auto 0;
}

.header-icon-hideup {
  display: none;
}

.header-searchbar-off {
  width: 0;
  border: none;
}

.header-searchbar-on {
  width: 180px;
  height: 20px;
  padding: 5px 27px;
  border-radius: 50px;
  outline: none;
  margin: auto 0;
  border: none;
  background-size: 15px !important;
  background-position-y: center !important;
  background-position-x: 12px !important;
  padding-left: 33px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.header-searchbar-on img {
  height: 15px !important;
  margin: auto 0 !important;
  margin-top: 2.5px !important;
}

.header-searchbar-close-on {
  position: absolute;
  height: 12px;
  top: 9px;
  right: 10px;
}

.header-searchbar-close-off {
  display: none;
}

/** RESPOSIVITY **/
@media only screen and (max-width: 576px) {
  header {
    width: calc(100% - 60px);
    padding: 15px 30px;
  }
}

@media only screen and (max-width: 400px) {
  .header-searchbar-on {
    width: 110px;
  }
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}